<header
  class="bg-white fixed top-0 left-0 right-0 px-9 py-3 flex justify-between shadow-sm shadow-gray-200 lg:px-20"
>
  <nav>
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="font-bold text-xl hover:text-gray-500"
      >CheckIDInSAP</a
    >
  </nav>

  <app-navigation-links
    styleClass="h-full hidden lg:flex lg:flex-col lg:justify-center"
  />

  <nav class="lg:hidden">
    <button (click)="onMenuClick()" class="h-full">
      <span class="hamburger"></span>
    </button>
    @if (isMenuOpen) {
    <app-navigation-links
      styleClass="bg-white absolute left-0 right-0 top-[52px] px-9 py-5 w-screen border border-t-gray-200 border-b-gray-200 lg:hidden"
    />
    }
  </nav>
</header>
