<header class="px-8 py-4 flex justify-between lg:px-20">
  <p>
    <a routerLink="/" class="px-2 font-bold text-xl">CheckIDInSAP</a>
  </p>
  <menu class="flex">
    <li><a routerLink="/" class="px-2 font-bold text-sm">HOME</a></li>
    <li><a routerLink="/about" class="px-2 font-bold text-sm">ABOUT</a></li>
    <li>
      <a routerLink="/solution-areas" class="px-2 font-bold text-sm"
        >SOLUTION AREAS</a
      >
    </li>
    <li>
      <a routerLink="/case-studies" class="px-2 font-bold text-sm"
        >CASE STUDIES</a
      >
    </li>
    <li>
      <a routerLink="/multimedia" class="px-2 font-bold text-sm">MULTIMEDIA</a>
    </li>
    <li><a routerLink="/team" class="px-2 font-bold text-sm">TEAM</a></li>
    <li><a routerLink="/contact" class="px-2 font-bold text-sm">CONTACT</a></li>
  </menu>
</header>
