<footer
  class="px-10 py-14 mx-auto max-w-[1500px] lg:grid lg:grid-cols-3 lg:gap-10 lg:px-20"
>
  <div class="lg:col-span-2">
    <h3 class="pb-5 font-semibold text-2xl lg:text-3xl">Linx/AS</h3>
    <p class="text-lg max-w-[550px] lg:text-xl">
      Linx/AS helps its enterprise and public sector clients, using the bioLock
      Identity Management Suite for SAP, to achieve dramatic security
      improvements via biometrics in SAP ERP systems and the HANA platform
      without affecting existing security processes.
    </p>
  </div>

  <div class="mt-10 lg:mt-0 lg:flex lg:justify-between lg:gap-10">
    <div class="mb-10 lg:mb-0">
      <h3 class="pb-5 font-semibold text-2xl lg:text-3xl">Company</h3>
      <nav>
        <menu>
          <li>
            <a routerLink="/about" (click)="onLinkClick()">About</a>
          </li>
          <li>
            <a routerLink="/solution-areas" (click)="onLinkClick()"
              >Solution Areas</a
            >
          </li>
          <li>
            <a routerLink="/case-studies" (click)="onLinkClick()"
              >Case Studies</a
            >
          </li>
          <li>
            <a routerLink="/multimedia" (click)="onLinkClick()">Multimedia</a>
          </li>
          <li>
            <a routerLink="/team" (click)="onLinkClick()">Team</a>
          </li>
          <li>
            <a routerLink="/contact" (click)="onLinkClick()">Contact</a>
          </li>
        </menu>
      </nav>
    </div>

    <div>
      <h3 class="pb-5 font-semibold text-2xl lg:text-3xl">Support</h3>
      <nav>
        <menu>
          <li>
            <a routerLink="/contact" (click)="onLinkClick()">Email Us</a>
          </li>
        </menu>
      </nav>
    </div>
  </div>
</footer>
