<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CUSTOMER SERVICE
    </h2>
    <div class="flex flex-col gap-10 lg:gap-20">
      <div class="lg:flex lg gap-10">
        <img
          src="assets/solution-areas/customer-service/cash-register.png"
          alt="A picture of the Joburg Kiosk"
          class="w-full h-full lg:w-[50%]"
        />
        <div class="mt-5 lg:mt-0">
          <p class="text-lg lg:text-xl">
            Cashiers collecting your company’s money at point of sale, or call
            center operators editing customers’ data, are ongoing risks.
          </p>
          <p class="my-5 text-lg lg:text-xl">
            Within Retail POS environments, understanding cashier activities and
            effectively controlling actions such as credits, discounts or
            merchandise returns are vital. Management should be able to identify
            individual employee behavior undisguised by generic password log-ons
            or switching between store locations/cash registers. Behavioral
            problems should be traceable to store/shift/cash
            register/employee/manager level using biometric identity management,
            continuous authentication and logging. This should also contain
            problem areas and serve in reconciliation to ERP financials.
          </p>
        </div>
      </div>

      <div class="lg:grid lg:grid-cols-2 gap-10">
        <div class="">
          <p class="text-lg lg:text-xl">
            In customer service environments such as call centers, financial
            institutions or public sector service counters, the customer-facing
            employee will typically gain access to customers’ private
            information ranging from personal details, credit status, bank
            accounts, social security, financial ability, payment cards and
            more. This creates various fraud possibilities, and can be a threat
            to the organization without proper controls in place to deter
            opportunistic fraud. Intangible threats include privacy lawsuits,
            negative publicity and brand degradation. Organizations can ensure
            full tamper-proof audit trails are created by any access or change
            to customers’ data, using continuous biometric re-authentication of
            workers. Accountability will increase dramatically.
          </p>
          <p class="my-5 text-lg lg:text-xl">
            ‘With bioLock™ and its biometric authentication, we can unmistakably
            trace a transaction back to the employee that executed it. With this
            audit trail any individual cash register in a given store location
            is documented and can be completely reconciled with SAP.’ RWZ
          </p>
        </div>
        <div>
          <h3 class="mb-5 font-semibold text-lg lg:text-xl">
            Point of Sale / Customer Service threat areas can include:
          </h3>

          <ul class="list-container flex flex-col gap-5">
            <li>
              Unauthorized cashier activity: credits, discounts, merchandise
              returns
            </li>
            <li>Cash reconciliation</li>
            <li>Inventory shrinkage</li>
            <li>Call center customer privacy</li>
          </ul>
          <h3 class="my-5 font-semibold text-lg lg:text-xl">
            Related case studies
          </h3>
          <nav>
            <menu>
              <li>
                <a routerLink="/case-studies/retail-and-pos">Retail / POS</a>
              </li>
            </menu>
          </nav>
        </div>
      </div>
    </div>
  </main>
</div>
