<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - PERIMETER SECURITY
    </h2>
    <div class="mx-auto max-w-[750px]">
      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        “With the implementation of this solution, the client has graduated from
        the obsolete world of passwords to a far more controlled environment of
        biometric identity management. The client has a far better understanding
        of when and how each user had access to their SAP system. The project
        has been a complete success.”
      </p>

      <p class="text-lg lg:text-xl lg:gap-10">Juan Manuel Rangel Palacios</p>
      <p class="text-lg lg:text-xl lg:gap-10">Sr. Manager, IT Advisory</p>
      <p class="mb-5 font-semibold text-lg lg:text-xl lg:gap-10">
        KPMG Cardenas Dosal, S.C.
      </p>

      <div class="w-full h-[1px] bg-gray-200"></div>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        KPMG was retained by a manufacturing client (division of a
        multi-national firm) to identify and implement upgraded security for its
        SAP ECC6 installation. The solution had to cover many locations and a
        substantial SAP user group. KPMG recommended that a major change, using
        SAP-centric biometric identity management, was the best course to
        follow.
      </p>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        The most important first step in securing an SAP installation is to take
        control of perimeter access. Username/password combinations alone do not
        provide identity management – only biometric authentication can do that.
        As a baseline, all current employees with SAP access are enrolled
        biometrically, effectively stepping up security to a mandatory 2-factor
        process. The abuse or sharing of passwords, whether voluntary or covert,
        is thereby alleviated, as each perimeter access transaction becomes a
        logged event, indisputably identifying the actual user.
      </p>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Business Situation</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>Rapid business growth</li>
        <li>
          Many warehouse and office locations over a large geographical area
        </li>
        <li>Workforce not necessarily tied to a specific location</li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>Know who has access to SAP</li>
        <li>Eliminate password-sharing</li>
        <li>Provide robust audit trail of users’ access to SAP</li>
        <li>Prevent unauthorized access</li>
        <li>Achieve 100% SAP perimeter access control</li>
        <li>Create indisputable user accountability</li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Implementation Approach
      </h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Enroll all authorized users with biometric profiles, regardless of SAP
          function
        </li>
        <li>Require biometric access control at every log-on</li>
        <li>Maintain audit log, including failed attempts, for analysis</li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Major Objective</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        Challenges to increase SAP security and accountability:
      </p>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Mandatory biometric identity management for 1,000 users at multiple
          locations
        </li>
        <li>
          Biometrically secure access to SAP log-on for all users on PCs and
          laptops via direct access or VPN
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Key Business Outcomes
      </h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          True identity management for all employees, with 100% flexibility of
          workplace rotation
        </li>
        <li>Tamper-proof audit trail in effect</li>
        <li>Future option includes biometric access for non-employees such</li>
      </ul>
    </div>
  </main>
</div>
