<div class="h-screen mt-[52px]">
  <div class="hero py-40 px-10">
    <img
      src="assets/LinxLogo.png"
      alt="Linx Company Logo"
      class="m-auto w-[100%] max-w-[600px]"
    />

    <div class="mx-auto max-w-[550px] md:my-10">
      <h2 class="mb-[5px] text-lg text-center my-5 font-bold md:text-2xl">
        Taking Security to the NEXT Level
      </h2>
      <h3 class="text-sm text-center font-semibold md:text-lg">
        Linx/AS provides services and products to help drive the usability of
        SAP on multiple end user devices
      </h3>
    </div>

    <nav class="mt-5 flex gap-5 justify-center items-center">
      <a
        routerLink="/about"
        class="hero-link py-2 px-6 rounded-md bg-black text-white text-sm font-bold md:text-lg"
        >LEARN MORE ABOUT US</a
      >
    </nav>
  </div>
</div>
