<div class="h-screen mt-[52px]">
  <div class="hero py-40 px-10">
    <img
      src="assets/LinxLogo.png"
      alt="Linx Company Logo"
      class="m-auto w-[100%] max-w-[600px]"
    />

    <div class="mx-auto max-w-[550px] md:my-10">
      <h2 class="mb-[5px] text-lg text-center my-5 font-bold md:text-2xl">
        Taking Security to the NEXT Level
      </h2>
      <h3 class="text-sm text-center font-semibold md:text-lg">
        Linx/AS provides services and products to help drive the usability of
        SAP on multiple end user devices
      </h3>
    </div>

    <nav class="mt-5 flex gap-5 justify-center items-center">
      <a
        routerLink="/about"
        class="hero-link py-2 px-6 rounded-md bg-black text-white text-sm font-bold md:text-lg"
        >LEARN MORE ABOUT US</a
      >
    </nav>
  </div>

  <main class="flex flex-col gap-20 p-10 lg:p-20">
    <div class="flex flex-col-reverse gap-10 lg:flex-row lg:gap-20">
      <img
        src="assets/home-img-01.jpg"
        alt=""
        class="w-[100%] h-full lg:w-[50%]"
      />

      <div class="flex flex-col gap-5">
        <p class="font-bold text-lg lg:text-2xl">Importance of DATA Security</p>
        <h2 class="font-bold text-2xl text-[#ffa400] lg:text-4xl">
          Taking Security to the NEXT Level
        </h2>
        <p class="text-lg max-w-[750px] lg:text-xl">
          Knowledgeable users of SAP ERP can access extremely powerful system
          functions beyond what they should need for their daily work, simply by
          learning about SU01 (user functions), SE16 (system data browser), DDIC
          (generic administrator logon) and so forth. It is important to realize
          that these are powerful system management queries that can result in
          extensive damage or data loss. Knowledge of these functions, combined
          with a “borrowed” password, may be all that stands between your
          organization and a serious data breach.
        </p>
      </div>
    </div>

    <div class="flex flex-col-reverse gap-10 lg:flex-row-reverse lg:gap-20">
      <img
        src="assets/home-img-02.jpg"
        alt=""
        class="w-[100%] h-full lg:w-[50%]"
      />

      <div class="flex flex-col gap-5">
        <h2 class="font-bold text-2xl text-[#ffa400] lg:text-4xl">
          Living in the MODERN AGE
        </h2>
        <p class="text-lg max-w-[750px] lg:text-xl">
          “With bioLock™ and its biometric authentication, we can unmistakably
          trace a transaction back to the employee that executed it. With this
          audit trail any individual cash register in a given store location is
          documented and can be completely reconciled with SAP.” RWZ
        </p>
      </div>
    </div>
  </main>
</div>
