<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - HIPAA COMPLIANCE
    </h2>
    <div class="mx-auto max-w-[750px]">
      <h3 class="mb-5 font-semibold text-lg lg:text-xl">Government Agency</h3>

      <div class="w-full h-[1px] bg-gray-200"></div>

      <p class="my-5 text-lg lg:text-xl lg:gap-10">
        HIPAA, the American Health Insurance Portability and Accountability Act,
        as amended by the Final Rule and the HITECH Act provisions of 2009 is a
        set of rules to be followed by doctors, hospitals, and also employers:
        “Health information means any information, … recorded in any form or
        medium, that … is created or received by a health care provider, health
        plan, public health authority, employer …”. “Protected Health
        Information” (PHI) includes name, birth date, SSN numbers, health
        insurance and many other identifying data elements tied to employer-
        sponsored health plans, most of which are customarily stored in SAP HR
        records. The duty of HIPAA privacy compliance and safeguards under Title
        II therefore extends to SAP records.
      </p>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Business Situation</h3>

      <app-list [textArr]="businessSituation" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <app-list [textArr]="keyChallenges" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Implementation Highlights
      </h3>

      <app-list [textArr]="implementationHighlights" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Major Objective</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        The following challenges were identified:
      </p>

      <app-list [textArr]="majorObjectives" />

      <p class="my-5 text-lg lg:text-xl lg:gap-10">
        Implement Access Controls that allow:
      </p>

      <app-list [textArr]="arr" />
    </div>
  </main>
</div>
