<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - HIPAA COMPLIANCE
    </h2>
    <div class="mx-auto max-w-[750px]">
      <h3 class="mb-5 font-semibold text-lg lg:text-xl">Government Agency</h3>

      <div class="w-full h-[1px] bg-gray-200"></div>

      <p class="my-5 text-lg lg:text-xl lg:gap-10">
        HIPAA, the American Health Insurance Portability and Accountability Act,
        as amended by the Final Rule and the HITECH Act provisions of 2009 is a
        set of rules to be followed by doctors, hospitals, and also employers:
        “Health information means any information, … recorded in any form or
        medium, that … is created or received by a health care provider, health
        plan, public health authority, employer …”. “Protected Health
        Information” (PHI) includes name, birth date, SSN numbers, health
        insurance and many other identifying data elements tied to employer-
        sponsored health plans, most of which are customarily stored in SAP HR
        records. The duty of HIPAA privacy compliance and safeguards under Title
        II therefore extends to SAP records.
      </p>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Business Situation</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          The government agency uses SAP solutions for most business processes
          including HR & Payroll
        </li>
        <li>
          An information privacy violation had occurred prior to bioLock
          installation, where employees’ electronic protected health information
          (EPHI) was accessed by unauthorized parties
        </li>
        <li>Risk of increased civil/criminal penalties</li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          HIPAA requires disclosure of any breaches of protected data. Employers
          are “covered entities” if they provide healthcare benefits to
          employees
        </li>
        <li>
          SAP HR data is stored in “infotypes”, e.g. infotype 0167 (Health
          Plans), which have to be individually controlled to avoid unauthorized
          access
        </li>
        <li>
          Both administrative and technical safeguards are required – standard
          passwords cannot provide the needed granular access control to SAP
          infotypes
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Implementation Highlights
      </h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Created biometric credential profiles for users authorized to
          view/edit data defined as PHI under the Privacy Rule
        </li>
        <li>
          Associated individual biometric user profiles with specific tasks in
          SAP HR
        </li>
        <li>Enforced biometric re-authentication for every sensitive task</li>
        <li>
          Implemented tamper-proof log-file trail for each protected transaction
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Major Objective</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        The following challenges were identified:
      </p>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Comply with the Security Rule which requires technical safeguards
          (§164.304) “… the technology and the policy and procedures for its use
          that protect electronic protected health information and control
          access to it.”
        </li>
      </ul>

      <p class="my-5 text-lg lg:text-xl lg:gap-10">
        Implement Access Controls that allow:
      </p>

      <ul class="list-container flex flex-col gap-5">
        <li>Unique User Identification</li>
        <li>Emergency Access Procedure</li>
        <li>Automatic Logoff</li>
        <li>Encryption and Decryption</li>
      </ul>
    </div>
  </main>
</div>
