<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      FINANCE
    </h2>
    <div class="flex flex-col gap-10 lg:gap-20">
      <div class="lg:flex lg gap-10">
        <img
          src="assets/solution-areas/finance/finger-print.png"
          alt="A picture of a fingerprint"
          class="w-full h-full lg:w-[50%]"
        />
        <div class="mt-5 lg:mt-0">
          <p class="text-lg lg:text-xl">
            “Before the implementation of bioLock™, we relied on traditional
            passwords to control users logging on and executing workflow
            transactions. We now have a secure audit trail that proves who
            actually performed a financial function. If a user has not been
            specifically authorized for a critical activity, they are prevented
            from executing that activity. We have substantially improved our
            control of crucial finance functions.”
          </p>
          <p class="text-lg lg:text-xl">MAJOR PHARMA MANUFACTURER</p>
        </div>
      </div>

      <div class="lg:grid lg:grid-cols-2 gap-10">
        <div class="">
          <h2 class="pb-5 font-bold text-2xl lg:text-4xl">
            Preventing Financial Fraud
          </h2>
          <p class="text-lg lg:text-xl">
            Unauthorized financial activities and Segregation of Duties
            violations by insiders represent the most dangerous threats in your
            security landscape. Organizations lose at minimum 5% of annual
            revenue to various forms of fraud*. Enterprise systems are not the
            only source of fraud but can be the “low-hanging fruit”. Control
            mechanisms including SoD that rely on knowledge-based security
            (passwords) are easily circumvented by password “borrowing”. The
            resulting unauthorized financial manipulations can lead not only to
            financial loss, but also to other undesirable outcomes such as
            money-laundering, invoice tampering, procurement fraud, data loss or
            even regulatory violations such as Sarbanes-Oxley.
          </p>
          <h3 class="my-5 font-semibold text-lg lg:text-xl">
            Key threat vectors include:
          </h3>

          <ul class="list-container flex flex-col gap-5">
            <li>Procure-to-Pay Cycle</li>
            <li>Electronic Movement of Funds</li>
            <li>Fraudulent Accounting Entries</li>
            <li>Segregation-of-Duties (SoD)</li>
            <li>Regulatory (i.e. Sarbanes-Oxley)</li>
          </ul>

          <p class="my-5 text-lg lg:text-xl">
            Only upgraded Identity Management of users via biometrically
            activated profiles and credentials can overcome the security gaps
            that password-based security cannot.
          </p>
          <p class="text-lg lg:text-xl">
            *Association of Certified Fraud Examiners
          </p>
        </div>
        <div>
          <div class="iframe-container mt-14 lg:mt-0">
            <iframe
              src="https://www.youtube.com/embed/t39AM6DtK5I?si=kwJILs6YaOzYXS1o"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <h3 class="my-5 font-semibold text-lg lg:text-xl">
            Related case studies
          </h3>
          <nav>
            <menu>
              <li>
                <a routerLink="/">Banking Fraud</a>
              </li>
              <li>
                <a routerLink="/">Procure-to-Pay</a>
              </li>
              <li>
                <a routerLink="/">Payroll Fraud</a>
              </li>
              <li>
                <a routerLink="/">Retail / POS</a>
              </li>
            </menu>
          </nav>
        </div>
      </div>
    </div>
  </main>
</div>
