<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      HUMAN RESOURCES
    </h2>
    <div class="flex flex-col gap-10 lg:gap-20">
      <div class="lg:flex lg gap-10">
        <img
          src="assets/solution-areas/human-resources/joburg-kiosk.png"
          alt="A picture of the Joburg Kiosk"
          class="w-full h-full lg:w-[50%]"
        />
        <div class="mt-5 lg:mt-0">
          <p class="text-lg lg:text-xl">
            HR data is at risk from unauthorized system access resulting in
            privacy breaches, payroll or T&A fraud, credential tampering and
            “ghost workers” who no longer are part of the organization. Granular
            or layered security is needed to restrict HR workers from
            unnecessary data access, resulting in greater privacy protection for
            employees’ Personally Identifiable Information (PII) and other
            sensitive personal data. Payroll costs can be controlled by
            instituting biometrically controlled time and attendance, which
            prevents common fraud techniques such as “buddy punching”. Overtime
            abuses in payroll approval can be mitigated. Employees increasingly
            want to be empowered to securely interact with their own personal
            data. This can be done securely by providing biometrically activated
            ID Management and Credentialing, even from shared devices such as
            kiosks.
          </p>
        </div>
      </div>

      <div class="lg:grid lg:grid-cols-2 gap-10">
        <div class="">
          <h3 class="mb-5 font-semibold text-lg lg:text-xl">
            Key areas of concern within HR include:
          </h3>

          <ul class="list-container flex flex-col gap-5">
            <li>Payroll Visibility & Fraud</li>
            <li>Time & Attendance Fraud</li>
            <li>System Access by “Ghost Workers”</li>
            <li>Privacy: Personally Identifiable Information (PII)</li>
            <li>Personnel Records</li>
            <li>Employee Self-Service</li>
          </ul>

          <p class="my-5 text-lg lg:text-xl">
            “With the implementation of this solution, the client has graduated
            from the obsolete world of passwords to a far more controlled
            environment of biometric identity management. The client has a far
            better understanding of when and how each user had access to their
            SAP system. The project has been a complete success.”
          </p>
          <p class="text-lg lg:text-xl">KPMG MEXICO</p>
        </div>
        <div>
          <div class="iframe-container mt-14 lg:mt-0">
            <iframe
              src="https://www.youtube.com/embed/1MoShKfPFWo?si=hb_PDXQjkLkQpFz4"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <h3 class="my-5 font-semibold text-lg lg:text-xl">
            Related case studies
          </h3>
          <nav>
            <menu>
              <li>
                <a routerLink="/">Payroll Fraud</a>
              </li>
              <li>
                <a routerLink="/">Employee Self-Service</a>
              </li>
              <li>
                <a routerLink="/">Workflow Approvals</a>
              </li>
              <li>
                <a routerLink="/">Perimeter Security</a>
              </li>
            </menu>
          </nav>
        </div>
      </div>
    </div>
  </main>
</div>
