<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - PUBLIC SECTOR FRAUD
    </h2>
    <div class="mx-auto max-w-[750px]">
      <h3 class="mb-5 font-semibold text-lg lg:text-xl">
        Social Security Agency
      </h3>

      <p class="my-5 text-lg lg:text-xl lg:gap-10">
        “We are seeing an increasing number of high-profile security breaches in
        the recent past. Apart from legislative challenges, SAP customers in
        general are facing more skilled and ruthless opportunists that will do
        anything to get unauthorized access to data and funds. By introducing
        bioLock biometric SAP security we have implemented a solution that
        cannot be circumvented in any way. We are really pleased to offer this
        solution to SAP® public sector users in our markets.”
      </p>

      <p class="mt-5 text-lg lg:text-xl lg:gap-10">Werner Simpson</p>
      <p class="mb-5 text-lg lg:text-xl lg:gap-10">Director LINX/AS Africa</p>

      <div class="w-full h-[1px] bg-gray-200"></div>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Business Situation</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Increase in claims against Occupational Health Compensation, Pension
          Funds, and other social benefits which are not matched by equivalent
          collection of insurance premiums
        </li>
        <li>Financial challenges produced by difficult economic conditions</li>
        <li>
          Lack of controls in beneficiary registration and in benefits
          disbursement
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>Prevent fraudulent claims for government social benefits</li>
        <li>
          Prevent double payments, misdirected payments due to password sharing
        </li>
        <li>
          Prevent complicity of agency employees with fraudulent beneficiaries
        </li>
        <li>Control registration and activities involving beneficiaries</li>
        <li>Enforce biometric authentication of high-risk activities</li>
        <li>
          Required tamper-proof logging of all restricted activities, including
          failed or unauthorized attempts
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Major Objective</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        A major social services agency with millions of beneficiaries, whether
        for pensions, workers’ compensation, or other forms of social
        assistance, becomes a target for various forms of fraud. Addressing and
        preventing fraudulent activities on behalf of the agency’s stakeholders
        takes place on many levels, first within the agency’s employees and
        their outside business partners, and then at the level of the
        beneficiaries themselves.
      </p>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Key Business Outcomes
      </h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Biometric re-authentication of key activities involving beneficiary
          claims mitigates the risk of fraudulent activities and the resulting
          budgetary shortfalls
        </li>
        <li>
          Registration and management of business partners and beneficiaries is
          controlled via smart cards and biometrics
        </li>
        <li>Tamper-proof audit trail in effect for user accountability</li>
      </ul>
    </div>
  </main>
</div>
