<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - PAYROLL FRAUD
    </h2>
    <div class="mx-auto max-w-[750px]">
      <h3 class="mb-5 font-semibold text-lg lg:text-xl">Business Situation</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        The Association of Fraud Examiners defines payroll fraud as “any scheme
        in which an employee causes an employer to issue a payment by making
        false claims for compensation.” This means that every organization that
        pays employees can be a victim of fraud. Payroll fraud is a phenomenon
        that appears under many different forms. While this case concerns itself
        mainly with fraudulent overtime claims, there are many other ways that
        employees find to claim more pay than they deserve. This usually occurs
        in systems without true identity management, where it is possible for
        the dishonesty to be hidden behind a password access. Since passwords
        can be easily shared, guessed, or stolen, it is difficult to assign
        blame for fraud perpetrated via passwords. Several other key areas to be
        aware of in payroll fraud include “buddy-punching”, ghost workers,
        double transactions and more.
      </p>

      <ul class="list-container flex flex-col gap-5">
        <li>Growing student body</li>
        <li>Budgetary restraints due to declining funding allocations</li>
        <li>
          Declining capital spending putting more pressure on infrastructure
        </li>
        <li>Salaries fixed by Collective Bargaining</li>
        <li>
          Agreement – non-exempt overtime pay contributing to budget shortfall
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Non-exempt administrative workers overtime approval process flawed
        </li>
        <li>
          This user has experienced instances of extensive fraud in the approval
          of overtime pay
        </li>
        <li>
          SAP process for approval of overtime pay typically delegated to
          administrative assistants, creating a fraud opportunity
        </li>
        <li>SAP passwords were the only security mechanism prior to bioLock</li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Implementation Highlights
      </h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Associate individual biometric user profiles with specific SAP tasks
          in HR/Payroll, defining any delegated tasks
        </li>
        <li>Enforce biometric re-authentication for every sensitive task</li>
        <li>
          Tamper-proof logging and audit trail for each protected transaction
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Major Objectives</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        Overcome the limitations of password sharing in SAP payroll that were
        allowing junior administrators to impersonate supervisors and benefit
        from unearned overtime pay:
      </p>

      <ul class="list-container flex flex-col gap-5">
        <li>Provide indisputable identity management with biometrics</li>
        <li>
          Control extended authorizations where a user executed transactions
          under a supervisor’s profile
        </li>
        <li>Identify transactions executed under delegated authority</li>
        <li>Create an indelible audit trail of activity</li>
        <li>
          Ensure true segregation of duties (SoD) in the approval of overtime
          pay
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Key Business Outcomes
      </h3>

      <ul class="list-container flex flex-col gap-5">
        <li>Payroll overtime fraud has been eliminated</li>
        <li>Payroll budget control has been regained using biometrics</li>
        <li>Employees responsible for fraud were held accountable</li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Related case studies
      </h3>

      <nav>
        <menu>
          <li>
            <a routerLink="/">Banking Fraud</a>
          </li>
          <li>
            <a routerLink="/">Procure-to-Pay</a>
          </li>
          <li>
            <a routerLink="/">Retail / POS</a>
          </li>
        </menu>
      </nav>
    </div>
  </main>
</div>
