<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - PAYROLL FRAUD
    </h2>
    <div class="mx-auto max-w-[750px]">
      <h3 class="mb-5 font-semibold text-lg lg:text-xl">Business Situation</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        The Association of Fraud Examiners defines payroll fraud as “any scheme
        in which an employee causes an employer to issue a payment by making
        false claims for compensation.” This means that every organization that
        pays employees can be a victim of fraud. Payroll fraud is a phenomenon
        that appears under many different forms. While this case concerns itself
        mainly with fraudulent overtime claims, there are many other ways that
        employees find to claim more pay than they deserve. This usually occurs
        in systems without true identity management, where it is possible for
        the dishonesty to be hidden behind a password access. Since passwords
        can be easily shared, guessed, or stolen, it is difficult to assign
        blame for fraud perpetrated via passwords. Several other key areas to be
        aware of in payroll fraud include “buddy-punching”, ghost workers,
        double transactions and more.
      </p>

      <app-list [textArr]="businessSituation" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <app-list [textArr]="keyChallenges" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Implementation Highlights
      </h3>

      <app-list [textArr]="implementationHighlights" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Major Objectives</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        Overcome the limitations of password sharing in SAP payroll that were
        allowing junior administrators to impersonate supervisors and benefit
        from unearned overtime pay:
      </p>

      <app-list [textArr]="majorObjectives" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Key Business Outcomes
      </h3>

      <app-list [textArr]="keyBusinessOutcomes" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Related case studies
      </h3>

      <app-link-list
        [arr]="[
          {
            text: 'Banking Fraud',
            url: '/case-studies/banking-fraud'
          },
          {
            text: 'Procure-to-Pay',
            url: '/case-studies/procure-to-pay'
          },
          {
            text: 'Retail / POS',
            url: '/case-studies/retail-and-pos'
          }
        ]"
      />
    </div>
  </main>
</div>
