<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      DATA SECURITY
    </h2>
    <div class="flex flex-col gap-10 lg:gap-20">
      <div class="lg:flex gap-10">
        <img
          src="assets/solution-areas/data-security/data-security.png"
          alt="A picture of a fingerprint"
          class="w-full h-full lg:w-[50%]"
        />
        <div class="mt-5 lg:mt-0">
          <p class="text-lg lg:text-xl">
            “Deployment of the biolock™ Suite has moved Consol to a level of SAP
            transaction process security way beyond that offered by traditional
            User Name/Password based methods. With a robust audit trail we can
            now provide and prove full compliance to generally accepted good
            governance practices, compliance and policies.”
          </p>

          <p class="text-lg lg:text-xl">CONSOL GLASS</p>
        </div>
      </div>

      <div class="lg:grid lg:grid-cols-2 gap-10">
        <div class="">
          <p class="text-lg lg:text-xl">
            Knowledgeable users of SAP ERP can access extremely powerful system
            functions beyond what they should need for their daily work, simply
            by learning about SU01 (user functions), SE16 (system data browser),
            DDIC (generic administrator logon) and so forth. It is important to
            realize that these are powerful system management queries that can
            result in extensive damage or data loss. Knowledge of these
            functions, combined with a “borrowed” password, may be all that
            stands between your organization and a serious data breach.
          </p>

          <p class="mt-5 text-lg lg:text-xl">
            For example, if a disgruntled employee intends on leaving, they can
            export the entire list of customers or vendors, no matter if the
            list is 1,000 or 1,000,000 records. A DDIC logon completely conceals
            the user executing it, unless a second factor of biometric
            identification is added to the process. If a malicious employee uses
            such an anonymous log-on to upload malware into the system, or move
            it from DEV to PROD, only a biometric credentialing component will
            be able to identify the user correctly, assign the appropriate
            credentials for the requested action, and even deny the user’s
            action.
          </p>
          <p class="mt-5 text-lg lg:text-xl">
            If a former employee, contractor, auditor, intern, or temporary
            worker can still access the system because they have knowledge of a
            valid password, they would effectively be what is known as a “ghost
            worker”. In the absence of biometric credentialing that would help
            prevent such unauthorized access, the security breaches shown above
            are not preventable.
          </p>
        </div>
        <div class="mt-10 lg:mt-0">
          <h3 class="mb-5 font-semibold text-lg lg:text-xl">
            Threats in Data Security include:
          </h3>

          <app-list [textArr]="threatsInDataSecurity" />

          <h3 class="my-5 font-semibold text-lg lg:text-xl">
            Related case studies
          </h3>

          <app-link-list
            [arr]="[
              {
                text: 'Public Sector Fraud',
                url: '/case-studies/public-sector-fraud'
              },
              {
                text: 'Payroll Fraud',
                url: '/case-studies/payroll-fraud'
              },
              {
                text: 'Perimeter Security',
                url: '/case-studies/perimeter-security'
              }
            ]"
          />
        </div>
      </div>
    </div>
  </main>
</div>
