<nav [class]="styleClass">
  <ul class="flex flex-col gap-2 lg:flex-row lg:gap-5">
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onLinkClick()"
        class="route-link"
        >HOME</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onLinkClick()"
        class="route-link"
        >ABOUT</a
      >
    </li>
    <li>
      <a
        routerLink="/solution-areas"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onLinkClick()"
        class="route-link"
        >SOLUTION AREAS</a
      >
    </li>
    <li>
      <a
        routerLink="/case-studies"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onLinkClick()"
        class="route-link"
        >CASE STUDIES</a
      >
    </li>
    <li>
      <a
        routerLink="/multimedia"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onLinkClick()"
        class="route-link"
        >MULTIMEDIA</a
      >
    </li>
    <li>
      <a
        routerLink="/team"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onLinkClick()"
        class="route-link"
        >TEAM</a
      >
    </li>
    <li>
      <a
        routerLink="/contact"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onLinkClick()"
        class="route-link"
        >CONTACT</a
      >
    </li>
  </ul>
</nav>
