<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - WORKFLOW APPROVALS
    </h2>
    <div class="mx-auto max-w-[750px]">
      <h3 class="mb-5 font-semibold text-lg lg:text-xl">Business Situation</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        Pharma manufacturer installs bioLock(TM) within SAP to implement
        workflow approvals with biometric identity management.
      </p>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Major brand-name pharmaceutical company uses SAP for most of their
          business processes including manufacturing
        </li>
        <li>
          Decentralized operations create the need for remote financial
          approvals on a timely basis, while preserving the highest levels of
          identity management for approvers
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          A custom workflow process was created to prioritize large transactions
          that exceeded a threshold value
        </li>
        <li>
          These transactions were routed to the appropriate approver via email
        </li>
        <li>
          Approvals of such high-value transactions involved mandatory biometric
          authentication of the SAP user, even high-ranking executives
        </li>
        <li>
          Workflow items would only be passed on following successful biometric
          authentication of the activity
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Major Objectives</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          High-dollar payment approvals in SAP to be processed with customized
          web interface for end-users
        </li>
        <li>Payment approval link forwarded to approver via e-mail</li>
        <li>Approver opens webpage for list of payments to approve</li>
        <li>
          Biometric identification must occur for approval to update in SAP
        </li>
        <li>
          Payment is sent only after the successful biometric identification and
          credential verification
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Key Business Outcomes
      </h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Control of high-value payment approvals obtained with tamper-proof
          audit trail in SAP
        </li>
        <li>Process cannot be circumvented with administrator passwords</li>
        <li>
          Remote approvals in SAP with biometric authentication of high-risk
          transactions are now possible
        </li>
      </ul>

      <!--  -->

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Related case studies
      </h3>

      <nav>
        <menu>
          <li>
            <a routerLink="/">Payroll Fraud</a>
          </li>
          <li>
            <a routerLink="/">Employee Self-Service</a>
          </li>
        </menu>
      </nav>
    </div>
  </main>
</div>
