<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - WORKFLOW APPROVALS
    </h2>
    <div class="mx-auto max-w-[750px]">
      <h3 class="mb-5 font-semibold text-lg lg:text-xl">Business Situation</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        As a truly Namibian company employing 5,568 people in various sectors,
        the Ohlthaver & List Group is rooted in and committed to, Namibia and
        all her peoples. The Group’s Headquarters is located in Windhoek,
        Namibia. Today, O&L is Namibia’s largest privately held group of
        companies, with revenues contributing about 4% of GDP, with business
        interests in food production, fishing, beverages, farming, retail trade,
        information technology, property leasing and development, marine
        engineering, steel retailing and the leisure and hospitality industry.
      </p>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        With annual revenues of over N$5 billion, O&L is relentless in creating
        a sustainable future for all and passionately embrace our Purpose:
        “Creating a future, enhancing life” in everything we do while actively
        pursuing our Vision, which is: ”To be the most progressive and inspiring
        company”.
      </p>

      <app-list [textArr]="arr" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <app-list [textArr]="keyChallenges" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Major Objectives</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        Provide employees with easy access to their own HR data using a secure,
        simplified interface:
      </p>

      <app-list [textArr]="majorObjectives" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Key Business Outcomes
      </h3>

      <app-list [textArr]="keyBusinessOutcomes" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Related case studies
      </h3>

      <nav>
        <menu>
          <li>
            <a routerLink="/case-studies/payroll-fraud">Payroll Fraud</a>
          </li>
          <li>
            <a routerLink="/case-studies/workflow-approvals"
              >Workflow Approvals</a
            >
          </li>
        </menu>
      </nav>
    </div>
  </main>
</div>
