<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - WORKFLOW APPROVALS
    </h2>
    <div class="mx-auto max-w-[750px]">
      <h3 class="mb-5 font-semibold text-lg lg:text-xl">Business Situation</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        As a truly Namibian company employing 5,568 people in various sectors,
        the Ohlthaver & List Group is rooted in and committed to, Namibia and
        all her peoples. The Group’s Headquarters is located in Windhoek,
        Namibia. Today, O&L is Namibia’s largest privately held group of
        companies, with revenues contributing about 4% of GDP, with business
        interests in food production, fishing, beverages, farming, retail trade,
        information technology, property leasing and development, marine
        engineering, steel retailing and the leisure and hospitality industry.
      </p>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        With annual revenues of over N$5 billion, O&L is relentless in creating
        a sustainable future for all and passionately embrace our Purpose:
        “Creating a future, enhancing life” in everything we do while actively
        pursuing our Vision, which is: ”To be the most progressive and inspiring
        company”.
      </p>

      <ul class="list-container flex flex-col gap-5">
        <li>Revenue N$5 billion</li>
        <li>Privately held</li>
        <li>
          5,500 employees arming, retail, IT, property development, steel,
          hospitality & more
        </li>
        <li>Over 4% of Namibia GDP</li>
        <li>
          Vision 2019: N$2 billing EBIT | 4,000 additional employment
          opportunities | employer of choice | 20% reduction in carbon footprint
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Increase efficiencies by replacing a paper-based, labor-intensive
          vacation requests with an electronic process
        </li>
        <li>
          Enable users with limited SAP literacy or computer proficiency to
          interact with HR
        </li>
        <li>Minimize training requirements via simplified interfaces</li>
        <li>
          Accommodate multi-lingual needs, especially for local languages not
          supported by SAP
        </li>
        <li>Prevent inappropriate or fraudulent access to personal data</li>
        <li>Prevent downtime related to password resets</li>
        <li>Reduce time pressure on HR to provide simple ESS data</li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Major Objectives</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        Provide employees with easy access to their own HR data using a secure,
        simplified interface:
      </p>

      <ul class="list-container flex flex-col gap-5">
        <li>Reduce turn-around for simple HR requests</li>
        <li>Accommodate workers with limited computer access or knowledge</li>
        <li>Prevent information privacy violations</li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Key Business Outcomes
      </h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Private HR data such as pay slips, vacation requests and scheduling
          are available to non-specialist users at shared kiosks on a timely
          basis
        </li>
        <li>
          The paper-based, labor-intensive vacation request system is replaced
          SAP data is replaced with a real-time electronic process
        </li>
        <li>
          SAP data is presented in simplified screens, only information related
          to tasks at hand is shown – no specialized SAP knowledge needed
        </li>
        <li>
          Biometrically controlled access to information provides accountability
          and prevents password sharing / fraudulent access
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Related case studies
      </h3>

      <nav>
        <menu>
          <li>
            <a routerLink="/">Payroll Fraud</a>
          </li>
          <li>
            <a routerLink="/">Workflow Approvals</a>
          </li>
        </menu>
      </nav>
    </div>
  </main>
</div>
