<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      SOLUTION AREAS
    </h2>

    <p class="text-lg text-center mx-auto max-w-[750px] lg:text-xl">
      Linx/AS provides solutions in these areas
    </p>

    <div class="pt-10 lg:pt-20">
      <ul class="grid grid-cols-1 gap-10 md:grid-cols-2">
        <li>
          <img src="assets/solution-areas/finance.jpg" alt="" />
          <h2 class="pt-5 pb-1 font-semibold text-2xl lg:text-3xl">Finance</h2>
          <p class="mb-5 text-lg lg:text-xl">
            Unauthorized financial activities and Segregation of Duties
            violations by insiders represent the most dangerous threats in your
            security landscape. ...
          </p>
          <a
            routerLink="/solution-areas/finance"
            class="more-btn py-2 px-6 rounded-md bg-black text-white text-sm font-bold md:text-lg"
            >READ MORE</a
          >
        </li>

        <li>
          <img src="assets/solution-areas/human-resources.jpg" alt="" />
          <h2 class="pt-5 pb-1 font-semibold text-2xl lg:text-3xl">
            Human Resources
          </h2>
          <p class="mb-5 text-lg lg:text-xl">
            HR data is at risk from unauthorized system access resulting in
            privacy breaches, payroll or T&A fraud, credential tampering and
            “ghost workers” ...
          </p>
          <a
            routerLink="/"
            class="more-btn py-2 px-6 rounded-md bg-black text-white text-sm font-bold md:text-lg"
            >READ MORE</a
          >
        </li>

        <li>
          <img src="assets/solution-areas/customer-service.jpg" alt="" />
          <h2 class="pt-5 pb-1 font-semibold text-2xl lg:text-3xl">
            Customer Service
          </h2>
          <p class="mb-5 text-lg lg:text-xl">
            Cashiers collecting your company’s money at point of sale, or call
            center operators editing customers’ data, are ongoing risks. Within
            Retail POS ...
          </p>
          <a
            routerLink="/"
            class="more-btn py-2 px-6 rounded-md bg-black text-white text-sm font-bold md:text-lg"
            >READ MORE</a
          >
        </li>

        <li>
          <img src="assets/solution-areas/data-security.jpg" alt="" />
          <h2 class="pt-5 pb-1 font-semibold text-2xl lg:text-3xl">
            Data Security
          </h2>
          <p class="mb-5 text-lg lg:text-xl">
            Knowledgeable users of SAP ERP can access extremely powerful system
            functions beyond what they should need for their daily work, simply
            by learning ...
          </p>
          <a
            routerLink="/"
            class="more-btn py-2 px-6 rounded-md bg-black text-white text-sm font-bold md:text-lg"
            >READ MORE</a
          >
        </li>

        <li>
          <img src="assets/solution-areas/supply-chain.jpg" alt="" />
          <h2 class="pt-5 pb-1 font-semibold text-2xl lg:text-3xl">
            Supply Chain
          </h2>
          <p class="mb-5 text-lg lg:text-xl">
            Whether in a factory, warehouse or in transit, many touch points
            create security gaps that can lead to significant physical &
            financial losses. ...
          </p>
          <a
            routerLink="/"
            class="more-btn py-2 px-6 rounded-md bg-black text-white text-sm font-bold md:text-lg"
            >READ MORE</a
          >
        </li>

        <li>
          <img src="assets/solution-areas/contact-us.jpg" alt="" />
          <h2 class="pt-5 pb-1 font-semibold text-2xl lg:text-3xl">
            Contact Us
          </h2>
          <p class="mb-5 text-lg lg:text-xl">
            For more information about our solutions, to schedule a live demo,
            or to request a proof-of-concept installation, please contact us:
            Email us at ...
          </p>
          <a
            href="https://realtimenorthamerica.com/contact-realtime/"
            target="_blank"
            class="more-btn py-2 px-6 rounded-md bg-black text-white text-sm font-bold md:text-lg"
            >READ MORE</a
          >
        </li>
      </ul>
    </div>
  </main>
</div>
