<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      MULTIMEDIA
    </h2>

    <p class="text-lg mx-auto max-w-[750px] lg:text-xl">
      Please feel free to browse the media below to learn how Linx-as can help
      to secure and protect your SAP system environment with
      <strong>bioLock</strong>.
    </p>

    <div class="pt-10 lg:pt-20">
      <ul class="grid grid-cols-1 gap-10 md:grid-cols-2">
        <li>
          <div class="iframe-container mb-5">
            <iframe
              src="https://www.youtube.com/embed/JIeq604glhU?si=obflAVTw0NiiaZLk"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <p class="text-lg lg:text-xl">
            See how access to SAP can be controlled using biometric PalmSecure
            technology.
          </p>
        </li>

        <li>
          <div class="iframe-container mb-5">
            <iframe
              src="https://www.youtube.com/embed/E-JXeuf52y8?si=9sLjYF8RnSNRBYF6"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <p class="text-lg lg:text-xl">
            Are passwords really secure? We rely heavily on passwords for so
            many different applications. Fortunately, there are stronger methods
            to keeping our identity secure and locking down the systems that we
            use everyday.
          </p>
        </li>

        <li>
          <div class="iframe-container mb-5">
            <iframe
              src="https://www.youtube.com/embed/SB0xFoQS-iI?si=dLn-zg48zF1MoFaK"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <p class="text-lg lg:text-xl">
            Most SAP systems are solely protected by legacy password technology.
            Relying on this outdated authentication is an an open invitation for
            abuse off your company’s vital information.
          </p>
        </li>

        <li>
          <div class="iframe-container mb-5">
            <iframe
              src="https://www.youtube.com/embed/qr5DqK86A3k?si=GcD5YtDefVcNbIqv"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <p class="text-lg lg:text-xl">
            How can you increase profits by adding biometric security at your
            cash registers?
          </p>
        </li>
      </ul>
    </div>
  </main>
</div>
