<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - PROCURE-TO-PAY
    </h2>
    <div class="mx-auto max-w-[750px]">
      <h3 class="mb-5 font-semibold text-lg lg:text-xl">Business Situation</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        With over half a century of glass manufacturing experience in South
        Africa, Consol has a heritage that is truly South African and assumes
        its position as industry leader with pride. From early beginnings at a
        small glass manufacturing plant in Natal in the early 1940’s, Consol has
        enjoyed steady growth over the years and is the leading glass packaging
        manufacturer in South Africa with a market share of 79%, exporting glass
        packaging to 17 African countries. Previously a listed company, Consol
        Limited officially became Consol Glass (Pty) in April 2007, after a
        successful takeover bid led by private equity firm Brait. Employing some
        1,800 employees and headquartered in Johannesburg, Consol brings
        significant expertise to the glass packaging industry.
      </p>

      <app-list [textArr]="businessSituation" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <app-list [textArr]="keyChallenges" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Major Objectives</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        Overcome the challenges in the Procure-to-Pay cycle, particularly:
      </p>

      <app-list [textArr]="majorObjectives" />

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Related case studies
      </h3>
      <nav>
        <menu>
          <li>
            <a routerLink="/case-studies/banking-fraud">Banking Fraud</a>
          </li>
          <li>
            <a routerLink="/case-studies/payroll-fraud">Payroll Fraud</a>
          </li>
          <li>
            <a routerLink="/case-studies/retail-and-pos">Retail / POS</a>
          </li>
        </menu>
      </nav>
    </div>
  </main>
</div>
