<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - RETAIL / POS
    </h2>
    <div class="mx-auto max-w-[750px]">
      <h3 class="mb-5 font-semibold text-lg lg:text-xl">Business Situation</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        RWZ is the third largest agricultural cooperative in Germany based in
        Mainz. It employs more than 3,300 employees working at over 200
        locations via 17 subsidiary companies. The area served extends over
        large parts of North Rhine-Westphalia, Hesse, Thuringia and Saxony as
        well as throughout the Rhineland-Palatinate and Saarland. RWZ operates
        via approximately 170 member cooperatives and almost 70,000 farmers,
        growers and gardeners. Product lines cover a wide spectrum related to
        agriculture, home and garden. They range from plants, commodities,
        animal husbandry, farm equipment, fuel, logistics services and building
        materials to energy management and more, generating revenue of
        approximately € 2.5 billion annually.
      </p>

      <ul class="list-container flex flex-col gap-5">
        <li>Rapid business growth</li>
        <li>Many retail locations spread out geographically</li>
        <li>
          Many workers not tied to a specific store or warehouse, switch places
          frequently
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>Eliminate the delays caused by repeated log in/out from SAP</li>
        <li>Allow rapid employee rotation between stores or cash registers</li>
        <li>Create indisputable user accountability</li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Major Objectives</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Mandatory biometric access control for any combination of 300 cash
          registers, over 200 locations, 800+ cashiers
        </li>
        <li>
          Secure access to SAP Transaction VA01 (creating a sales order) at the
          individual cashier & cash register activity level
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Implementation Highlights
      </h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Created generic SAP profiles, then associated individual biometric
          user profiles to them
        </li>
        <li>Logged biometric cashier re- authentication for EACH sale</li>
        <li>
          Automatic audit trail generated for each cash register transaction
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Key Business Outcomes
      </h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          True identity management for cashiers with 100% flexibility of
          workplace / cash register rotation
        </li>
        <li>
          Access to unattended cash registers by unauthorized users prevented
        </li>
        <li>Robust, tamper-proof audit trail in effect</li>
        <li>
          Reconciliation of cash register sales activity by individual cashier /
          transaction to SAP ERP financials
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">
        Related case studies
      </h3>

      <nav>
        <menu>
          <li>
            <a routerLink="/">Banking Fraud</a>
          </li>
          <li>
            <a routerLink="/">Procure-to-Pay</a>
          </li>
          <li>
            <a routerLink="/">Payroll Fraud</a>
          </li>
        </menu>
      </nav>
    </div>
  </main>
</div>
