<div class="mt-[52px]">
  <app-logo />
  <main class="pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      ABOUT
    </h2>

    <div class="mx-auto max-w-[750px] flex flex-col gap-5 lg:gap-10">
      <p class="text-lg lg:text-xl">
        Founded in 2010, Linx/AS Africa is an established IT service provider in
        the SAP sector. Linx/AS provides services and products to help drive the
        usability of SAP on multiple end user devices. In addition we support
        customers with Biometric Identity Management Solutions in order to
        secure their SAP® information assets.
      </p>

      <p class="text-lg lg:text-xl">
        Linx/AS Africa is a SAP Silver Partner in the SAP® PartnerEdge® Build
        Program. Our customers are from a wide range of industries and represent
        some of the most valued and recognised brands in Southern Africa.
      </p>

      <h3 class="mt-5 font-semibold text-lg lg:text-xl">
        Linx/AS provides these services and solutions in three core focus areas:
      </h3>

      <ul class="flex flex-col gap-5">
        <li>
          SAP Usability Services with a focus on enhanced user experiences using
          SAP® Fiori and the Synactive GuiXT® Suite
        </li>

        <li>
          Identity Management Solutions for SAP using the realTime bioLock®
          Identity Management Suite for SAP®
        </li>

        <li>
          <h3 class="pb-5 font-semibold text-lg lg:text-xl">
            Product Solution Suite consisting of:
          </h3>

          <ul class="flex flex-col gap-5">
            <li>
              Linx/POS for SAP® – A comprehensive and affordable Point of Sale
              Solution Suite.
            </li>

            <li>
              Linx/Kiosk for SAP® – “Connect the Unconnected” with a suite of
              kioks
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </main>
</div>
