<div class="mt-[52px]">
  <app-logo />
  <main class="mx-auto max-w-[1500px] pb-10 px-10 lg:pb-20 lg:px-20">
    <h2 class="py-5 text-center font-bold text-2xl lg:py-10 lg:text-4xl">
      CASE STUDY - SUPPLY CHAIN
    </h2>
    <div class="mx-auto max-w-[750px]">
      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        “Users are authenticated biometrically before they can access SAP
        systems via shared access kiosks. We no longer have to worry about
        password fraud from these users at all.“ Mapula Mano, SAP Specialist:
        Plant Maintenance, Sales & Distribution.
        <span class="font-semibold">Transnet SOC Ltd</span>
      </p>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        Country: South Africa | Industry: Logistics | Employees: 55,500 |
        Website: www.transnet.net
        <a href="http://www.transnet.net/" class="font-semibold"
          >www.transnet.net</a
        >
      </p>

      <div class="w-full h-[1px] bg-gray-200"></div>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">The Customer</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        Transnet is the largest and most crucial part of the freight logistics
        chain that delivers goods to each and every South African. Every day
        Transnet delivers thousands of tons of goods around South Africa,
        through its pipelines and both to and from its ports. It moves that
        cargo on to ships for export while it unloads goods from overseas.
        Transnet is fully owned by the South African government but operates as
        a corporate entity aimed at both supporting and contributing to the
        country’s freight logistics network. It aims at developing South African
        industry, reducing the cost of doing business, while at the same time
        operating efficiently and profitably.
      </p>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">The Challenge</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        Transnet Engineering is a division of Transnet and has to supply the
        company. SAP Enterprise asset management (EAM) is the optimal lifecycle
        management of the physical assets of an organization. It covers subjects
        including the design, construction, commissioning, operations,
        maintenance and decommissioning/replacement of plant, equipment and
        facilities. Owning 7 Factories, 150 Depots with 14,500 employees
        Transnet Engineering annually manage over 11,000 wagons, 150
        locomotives, 500 coaches and 52,000 wheels in their asset management
        system. The major objective for the improvement are the challenges of
        securing SAP Plant Maintenance, Production Planning & shop-floor
        processes in diverse locations using shared devices:
      </p>

      <ul class="list-container flex flex-col gap-5">
        <li>Securing access to scheduling, planning, BOM, maintenance</li>
        <li>
          Ensuring secure access to SAP data at shared kiosks via biometrics
        </li>
        <li>Improve efficiency, lower downtime and maintenance costs</li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">Key Challenges</h3>

      <ul class="list-container flex flex-col gap-5">
        <li>
          Enable users with limited computer literacy or SAP proficiency to
          interact with systems easily
        </li>
        <li>Minimize training requirements</li>
        <li>Accommodate multi-lingual needs</li>
        <li>Enforce biometric authentication of all SAP data access</li>
        <li>
          Lower Maintenance costs – keep plants & depots running more
          efficiently
        </li>
      </ul>

      <h3 class="my-5 font-semibold text-lg lg:text-xl">The Solution</h3>

      <p class="mb-5 text-lg lg:text-xl lg:gap-10">
        Fujitsu PalmSecure and the bioLock security software was implemented
        within shared use kiosk by authorized partner Linx/AS Africa.
      </p>
    </div>
  </main>
</div>
